$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: "~font-awesome-sass/assets/fonts/font-awesome/";
@import "~font-awesome-sass/assets/stylesheets/font-awesome";

body {
  background-color: lightgrey;
}
